body {
  background: #003767;
  color: white;
}

#header {
  background: white;
  height: 9vh;
  font-size: 3vh;
  color: black;
}

#header img {
  float: right;
}

img {
  color: grey;
  font-size:15px;
  text-align: center;
  max-width:100%;
  max-height:100%;
}

.eg-container {
  padding: 15px;
  margin: 15px;
}

.eg-main {
  margin-bottom: 30px;
}

.eg-wrapper {
  /* background-color: #f7f7f7; */
  /* border: 1px solid #eee; */
  /* box-shadow: inset 0 0 3px #f7f7f7; */
  /* width: 100%; */
  /* height: 50vw; */
  /* overflow: hidden; */
}

.eg-wrapper img {
  /* width: 100vw; */
  /* height: 80vh; */
}

.eg-preview {
  margin-bottom: 15px;
}

.preview {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  background: #f7f7f7;
}

.preview-lg {
  width: 290px;
  height: 160px;
}

.eg-data {
  padding-right: 15px;
}

.eg-data .input-group {
  width: 100%;
  margin-bottom: 15px;
}

.eg-data .input-group-addon {
  min-width: 65px;
}

.eg-button > .btn {
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.eg-input .input-group {
  margin-bottom: 15px;
}

.eg-output .btn {
  margin-right: 15px;
  margin-bottom: 15px;
}

.eg-output img {
  max-height: 214px;
}

.poster-template {
  display: none;
}

.result-preview {
  position: relative;
  padding-bottom: 138%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.result-preview iframe {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.poster-preview img {
  /* width: 100%; */
}
